/* Show Route type options in a row, rather than down page. */
.field-name-field-route-type .form-radios .form-type-radio {
  display: inline;
  margin-right: 1em;
}
/* Reinstate disabled status indication overridden in seven css. */
select.form-select:disabled,
option:disabled,
input:disabled {
  color: graytext;
}
