/**
 * Place your custom styles here.
 */

/* navbar incl. search form block */
.navbar-collapse nav {
  line-height: .5em;
}

.not-logged-in .navbar.container {
  margin-top: 0;
}

#block-search-form {
  height: 28px;
  margin-bottom: 0;
  width: 200px;
}
@media screen and (min-width: 992px) {
  .navbar #block-search-form {
    float: right;
  }
}
.navbar #block-search-form {
  margin: 0 0 5px 5px;
}

.nav-bar-collapse {
  padding-right: 0;
}
.nav-bar-collapse nav {
  display: flex;
}
#block-system-main-menu,
#block-system-user-menu {
  display: inline-block;
}

/* Guides, /guide */
.view-guides .views-row {
    padding-bottom: 1em;
}

.view-guides .views-field.views-field-title,
.view-guides .views-field-field-year-of-publication {
    display: inline-block;
}
.view-guides .views-field.views-field-title .field-content::after {
  content: ",";
}
.view-guides .row {
  margin-bottom: 15px;
}

/* Place page */
.node-type-place h1.page-header {
  display: inline;
  border-bottom: none;
}
.route-count {
  color: #999;
}
h2.route-count {
  display: inline;
}

.minimap-left {
  padding-left: 0;
}
.minimap-right {
  padding-right: 0;
}

.node-type-place .newchild {
  clear: both;
}

/* Hide pesky pixel from other cross symbol in sprite (used when selected). */
a.tabledrag-handle .handle {
  height: 24px;
}

/* Show gone routes as grey, but not operations cell. */
.route-gone td {
  opacity: .6;
}
.route-gone td.views-field-edit-node {
  opacity: 1;
}

.node-type-place .field-name-field-guide .node-guide header {
  display: none;
}
.node-type-place .field-name-field-guide .field-item {
  width: 100px;
  border: 1px solid red;
  display: inline;
}
.node-type-place .field-name-field-access-private {
  background: #fff4e1;
}


#block-menu-menu-footer-menu h2.block-title,
#block-climbnz-footer-menu-climbnz-footer-menu-fake h2.block-title {
  display: none;
}
#block-menu-menu-footer-menu .nav li,
#block-climbnz-footer-menu-climbnz-footer-menu-fake .nav li {
  display: inline-block;
}

/* Table of child places */
.view-climbnz-places-in-place .views-table thead {
  display: none;
}

/* comment */
.comment-unpublished {
  background: #f7d0d73d;
}
.indented {
  padding-left: 2em;
}
.comment h3 {
  display: none;
}
.comment .submitted {
  margin-bottom: 0.1em;
}
.comment .links {
  text-align: right;
  margin-bottom: 0;
}

.breadcrumb {
  margin-bottom: 0;
}

/* Table of Routes */
.view-climbnz-route-table th.views-field-field-reference {
  width: 2em;
}

/* prevent wrapping of stars for Quality field */
.view-climbnz-route-table th.views-field-field-quality {
  width: 70px;
}
.view-climbnz-route-table .views-field-title {
  font-weight: bold;
}
.view-climbnz-route-table .views-field-title a {
  color: black;
}

.bolt-icon {
  padding-left: 3px;
  position: relative;
  top: -2px;
}

.view-climbnz-route-table .ascent {
  color: #666;
}

/* xs */
@media (max-width: 767px) {
  #block-climbnz-theme-climbnz-catalyst-cloud {
    margin-top: 2em;
    text-align: center;
  }
}
/* sm+ */
@media (min-width: 768px) {
  #block-climbnz-theme-climbnz-catalyst-cloud {
    float: right;
  }
}

/* help */
.advanced-help-topic .img-responsive {
  border: 1px dashed #ddd;
}

.front .page-header {
  display: none;
}

/* Hero image */
.caption {
  font-size: .9em;
  color: #666;
}

/* Activity view */
#block-views-climbnz-activity-block-1 {
  padding-left: 0;
}

.view-climbnz-activity thead {
  display: none;
}
.view-climbnz-activity .user-picture {
  display: inline-block;
  width: 1.5em;
}
.view-climbnz-activity q {
  font-style: italic;
}

.view-climbnz-activity .place-type,
.view-climbnz-activity .route-type {
  text-transform: lowercase;
}

/* Recent comments */
#block-comment-recent {
  padding-left: 0;
}
#block-comment-recent ul {
  padding-left: 0;
  list-style-type: none;
}

#block-comment-recent {
  padding-right: 0px;
}

/*#block-user-online {
  clear: both;
}*/

/* Comments */
#comments .user-picture {
  display: inline-block;
  width: 1.5em;
}

.climbnz-pitch-table td {
  vertical-align: bottom;
}

#block-climbnz-climbnz-intro-migration h2.block-title {
  margin-top: -3px;
}

/*
#43 Suppress URLs show on hyperlinks (default from Bootstrap).
Per https://www.itsupportguides.com/knowledge-base/tech-tips-tricks/how-to-hide-urlhref-when-printing-bootstrap-website/ */
@media print {
  a[href]:after {
    content: none !important;
  }
}

/* API docs */
.swagger-ui .info {
  margin: 0;
}
.swagger-ui pre {
  background-color: transparent;
  border: none;
}
.swagger-ui .topbar {
  display: none;
}
.swagger-ui .information-container .main {
  display: none;
}
.swagger-ui .scheme-container {
  padding: 0;
  background: transparent;
  box-shadow: none;
}
.swagger-ui .wrapper {
  padding: 0;
}

.highlighted.jumbotron {
  padding: 0;
}
#block-climbnz-climbnz-d7-eol {
  padding: 15px;
}
#block-climbnz-climbnz-d7-eol h2 {
  margin-top: 5px;
}
