<h2>General</h2>

<h3>Why is NZAC leading this project?</h3>

<p>The ClimbNZ project is for the benefit of all climbers. ClimbNZ supports the aims of NZAC to:</p> 

<ul>
<li>encourage mountaineering, rock climbing and allied activities and the enjoyment and conservation of mountain and rock climbing regions; and to bring together those interested in climbing; and</li>
<li>provide services for climbers, protect the interests and safety of climbers, and promote climbing activities.</li>
</ul>

<h3>Is the information free to use?</h3>

<p>Yes, all the information on this site is published under a <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/nz/">Creative Commons Attribution-NonCommercial-ShareAlike Licence</a>. You are free to use the content and reuse it with acknowledgement, so long as you do not use it for commercial purposes.</p>

<h3>Does NZAC own the information on this site?</h3>

<p>Some of the information is republished from NZAC guidebooks. Some comes from other sources, including non-NZAC guidebooks and websites, or is provided by individuals. By posting information on this site you do not give NZAC any rights of ownership. You are responsible for ensuring you have permission to post information on the site. For more, see our <a href="/terms">Terms of Use</a>.</p>

<h2>Adding to and improving ClimbNZ</h2>

<h3>How are areas and routes organised?</h3>

<p>This site is arranged as a hierarchy of Places, from New Zealand to the main islands and on down to peaks, alpine faces, crags, walls, and boulders. For example:</p>

<p><a href="/">Home</a> / <a href="/nz">NZ</a> / <a href="/nz/si">South Island</a> / <a href="/nz/si/fiordland">Fiordland</a> / <a href="/nz/si/fiordland/wick-mountains">Wick Mountains</a> / <a href="/nz/si/fiordland/wick-mountains/mt-moir">Mt Moir</a> / <a href="/nz/si/fiordland/wick-mountains/mt-moir/north-face">North Face</a>.</p>

<p>Routes belong to Places. For example, the <a href="/nz/si/fiordland/wick-mountains/mt-moir/north-ridge">North Ridge of Mt Moir</a> has the parent Place <a href="https://climbnz.org.nz/nz/si/fiordland/wick-mountains/mt-moir">Mt Moir</a> (mountain).</p>

<p>Note that a Place can have more sub-Places as well as Routes. For example, Mt Moir is also the parent of the <a href="/nz/si/fiordland/wick-mountains/mt-moir/north-face">North Face of Mt Moir</a>. The North face has its own routes, such as <a href="/nz/si/fiordland/wick-mountains/mt-moir/north-face/vindication">Vindication</a>.</p>

<h3>Can I add or improve the information?</h3>

<p>Yes. Most of the content on this site can be edited. Generally, you should only add or edit information about routes that you have climbed or places you have visited.</p>

<h3>How do I add or edit a Route?</h3>

<h4>Check if the route is already listed</h4>
<p>Type the route name in the Search box at the top right of the page. Check the spelling. If you’re still not sure, search for the parent (crag, peak, etc.) that the route should belong to.</p>

<h4>Go to the "edit" page</h4>
<p>To add a route, navigate to the parent (crag, peak, etc.) page and click the <a href="#" class="btn btn-success">Route</a> button.</p>. 

<p>To edit a route, navigate to the parent page. Find the route you want and click "edit".</p>

<h4>Fill out the information fields</h4>
<img src="&path&climbnz_node_add_route.png" class="img-responsive"/>

<h3 id="route-fields">Route fields</h3>
<p>More help on filling out the fields:</p>
<ul>
    <li><em>Reference:</em> If you are going to add a photo or topo showing your route, put a reference number on the topo and also in the “Reference” field for the route.</li>
    <li><em>Name:</em> The name of the route. Please be aware of NZAC’s position that we will not publish names that are discriminatory, derogatory or likely to cause harm.</li>
    <li><em>Type:</em> There are five route types. Choose the one that is best for your route. Grading options change depending on the route type.</li>
    <li><em>Description:</em> Use this field when you will not be adding pitch-by-pitch details, for example most alpine routes, <em>or</em> to include general information about a multi-pitch route.</li>
    <li><em>Pitch:</em> Use this field for descriptions of single pitch rock routes and boulder problems. If you will be adding pitch-by-pitch descriptions, fill out the relevant information for the first pitch (Grade, Length, Bolts, Trad, Description). Click the "Add another item" button and do the same for the second pitch, and so on. For more about grades see <a href="#n7164">How are alpine routes graded?</a> and  <a href="#n7165">How do rock grades in New Zealand compare to other grading systems?</a> Be as accurate as possible with the pitch length and be exact with the number of bolts (if any). The trad tick box indicates if there is <em>any</em> trad gear. In other words, it includes mixed bolted/trad routes.</li>
    <li><em>First Ascent:</em> Use this style, with commas between each item and no full stop: Louise Friend, Jeremy Nut, 21 August 2012.  Be as accurate as you can with the date. If you have to, put “1800s” or “1960s”. </li>
    <li><em>Quality:</em> Between none and three stars.</li>
    <li><em>Route Image:</em> Upload a photo or topo of the route here, if you have one. Images added here will be visible only on the “Route” page. To show the relationship between this route and its neighbours, add an image to the parent (peak, crag, etc) page. You must either own the image or have permission to add it to this site <em>and</em> agree to the Creative Commons licence that governs all the material on this site.</li>
    <li><em>Grade:</em> You should not need to enter anything, because the grade is automatically calculated from the pitch information. To give your route an overall grade when you haven’t described pitches, go back to the pitch field and enter the grade(s) there.</li>
    <li><em>Length:</em> You should not need to enter anything, because total route length is automatically calculated by adding all pitch lengths. To give your route an overall length when you haven't described pitches, go back to the pitch field and enter the length there.</li>
    <li><em>Bolts:</em> This is the total number of bolts on the route, automatically calculated from the pitch fields.</li>
    <li><em>Attribution:</em> Please credit the original author or source for the information you’re adding or editing. Even if it’s you!</li>
</ul>

<p>Click the “Save” button at the bottom of the page. You can also use the "Preview" or "View changes" buttons to check.</p>

<h3>Can I reorder the list of routes at a Place (crag, peak, etc)?</h3>

<p>Yes. Navigate to the Place. For example, to change the order of routes on the South Face of Mt Talbot:</p>

<img src="&path&climbnz_place_order_children1.png" class="img-responsive"/>

<p>Click the "Children" tab:</p>

<img src="&path&climbnz_place_order_children2.png" class="img-responsive"/>

<p>Drag the routes into the correct order, using the cross symbols on the left of the list.</p>

<p>When you are happy with the order, click the "Save child order" button.</p>

<h2>Grading</h2>

<h3>How are rock routes graded?</h3>

<p>Rock climbs in New Zealand are graded using the open-ended Ewbank (Australian) system, developed by the Australian John Ewbank in the mid 1960s.</p>

<h3>How do rock grades in New Zealand compare to other grading systems?</h3>

<p>Some comparison charts are here:</p>

<ul>
<li><a href="http://aaj.americanalpineclub.org/extras/grade-comparisons/"><em>American Alpine Journal</em> grade comparison chart</a></li>
<li><a href="http://en.wikipedia.org/wiki/Grade_%28climbing%29">Wikipedia</a></li>
</ul>

<h3>How are alpine routes graded?</h3> 

<h4>Seriousness and Technical grades</h4>

<p>Generally, these are the recommended systems to use for grading New Zealand alpine routes. Other grades, for Rock, Mixed, Water Ice, or Aid can be added as required. The older, single variable "Mt Cook" system is still in use in some regions.</p> 

<h4>Seriousness grade</h4>

<p>The Seriousness Grade is the most important grade from an overall mountaineering perspective. It takes into account (in no particular order): the objective hazards throughout the climb; how easy or difficult it is to retreat; the importance of good route finding; the length of the route; and whether or not the easiest descent is on familiar ground.</p>

<p>The start point for a climb is referred to as a 'base', which is considered to be the nearest hut or safe campsite. Climbs starting from remote bases will have a slightly higher Seriousness grade. Whether you walk in or fly in doesn’t affect the grade, but if you walk in, kudos to you.</p>

<ul>
<li>I	Close to civilization with non-technical access and no significant objective hazards. Simple to reverse. Requires good navigation in poor visibility and familiarity with movement in the mountains.</li>
<li>II	Generally climbed in a half day to a full day close to a base. Likely to need skills relating to crevasse rescue, abseiling, and placing snow/ice/rock anchors. Descent is probably the same route as ascent, i.e. on familiar ground. No unusual objective hazards.</li>
<li>III	Moderate to long routes close to a base, or shorter routes a few hours from a base. Can be reversed but this may involve brief sections with tricky downclimbing or abseiling. Easiest descent could be different from ascent route, but if so is straightforward. There could be short sections exposed to significant objective hazards.</li>
<li>IV	Getting into the big stuff now. Requires sound mountaineering judgement and experience to complete with a good level of safety and to manage objective hazards. Could be long, but if so should be straightforward to reverse. Routes at this grade that are not so long may require multiple abseils to reverse, or may involve a traverse of the peak to get to an easier descent route.</li>
<li>V	Very long routes close to a base, or moderate length routes in a fairly remote area. Likely to be very tricky to reverse. Easiest descent is moderately complicated and is probably different from ascent route. Access, climb, or descent could involve significant objective hazards.</li>
<li>VI	Routes at this grade are generally very long, and are challenging to reverse even for very experienced climbers. Potentially major objective hazards. The best descent route is likely to be complicated, and a night out is likely for most parties.</li>
<li>VII	Very experienced, strong climbers will have a tough climb. Start of route is remote and route is very long. Objective hazards could be severe. Retreating from the route would be difficult and would put you back in a serious spot. Easiest descent is probably very complicated and involves a traverse of the peak.</li>
</ul>

<h4>Technical grade</h4>

<p>The Technical Grade takes into account the difficulty of the actual climbing moves. It considers both the crux and how sustained the route is. A ‘+’ symbol is used to indicate a greater level of difficulty. The Technical Grade may be increased slightly if the rock quality is poor.</p>
<p>Most people, even experienced climbers, overestimate the angle of the slope they’re on by 10 to 15 degrees. This means that the angles mentioned below are more serious than they sound.</p>

<ul>
<li>1	Snow up to 25° and/or low angled rock scrambling.</li>
<li>2	Sustained snow of 30° to 35° or moderately steep rock scrambling, and/or may have a brief section of 50° snow/ice or exposed rock. Ridge travel may have brief exposed sections.</li>
<li>3	Sustained snow of 40° to 45° or sustained steep rock scrambling, and/or may have a short step of ice, or a pitch of 60° snow or grade 10-11 rock. Ridge travel may involve some tricky gendarmes or very exposed sections.</li>
<li>4	Sustained snow/ice of 50° to 55° or sustained grade 10-12 rock, and/or may have crux sections of WI3 ice, M3 mixed, or grade 13-14 rock. Ridge travel likely to involve massive exposure or numerous steep gendarmes.</li>
<li>5	Sustained 60° to 65° ice/mixed climbing or grade 13-15 rock, and/or may have crux sections of WI4 ice, M4 mixed, or grade 16-17 rock.</li>
<li>6	Sustained WI3 to WI3+ ice, M3-4 mixed, or grade 16-18 rock, and/or may have crux sections of WI4+ to WI5 ice, M5 mixed, or grade 19-20 rock.</li>
<li>7	Sustained WI4 to WI4+ ice, M5 mixed, or grade 19-20 rock, and/or may have crux sections of WI5+ ice, M6 mixed, or grade 22-23 rock.</li>
<li>8	Sustained WI5 to WI5+ ice, M6 mixed, or grade 22-23 rock, and/or may have crux sections of M7 mixed or grade 25-26 rock.</li>
</ul>

<h4>Mixed, Water Ice and Aid grades</h4>

<p><strong>Mixed grades (M)</strong> are used when dry tooling – climbing rock (and usually also ice) with crampons and ice tools. <strong>Water Ice (WI)</strong> grades are usually applied to shorter pure ice routes, and may be useful to indicate the technical difficulty of ice on alpine routes. Aid climbing is rare in the New Zealand mountains. ‘Original’ rather than ‘New Wave’ aid ratings are used.</p>

<p>More on grade indications and comparisons is at:</p> 

<ul>
<li><a href="http://aaj.americanalpineclub.org/extras/grade-comparisons/"><em>American Alpine Journal</em> grade comparison chart</a></li>
<li><a href="http://www.alpinist.com/p/climbing_notes/grades"><em>Alpinist</em> magazine</a> </li> 
<li><a href="http://www.firstlightguiding.com/international-grade-comparison/">Firstlightguiding.com</a></li>
</ul>

<h4>Mt Cook grades</h4>

<p>The Mt Cook system was first used by Hugh Logan in his <em>The Mt Cook Guidebook</em> (1982). Grades currently go from 1 to 7 with + and – variations. Factors determining the grade are (in descending order of importance): technical difficulty, objective danger, length, and access.</p>

<ul>
    <li>1: Easy scramble. Use of rope generally only for glacier travel.</li>
    <li>2: Steeper trickier sections may need a rope.</li>
    <li>3: Longer steeper sections generally. Use of technical equipment necessary. Ice climbs may require two tools.</li>
   <li>4: Technical climbing. Knowledge of how to place ice and rock gear quickly and efficiently a must. Involves a long day.</li>
    <li>5: Sustained technical climbing. May have vertical sections on ice.</li>
    <li>6: Multiple crux sections. Vertical ice may not have adequate protection. Good mental attitude and solid technique necessary. May require a bivvy on route and be a long way from civilization.</li>
    <li>7: Vertical ice/rock which may not have adequate protection. Rock grades in the high 20s (Ewbank). Climb may be in remote area. May require a bivvy on route.</li>
</ul>
