<p>Welcome to Climb NZ, a community site operated by the <a href="http://alpineclub.org.nz">New Zealand Alpine Club</a> (NZAC) Inc.</p>
<p>These Terms of Service (“Terms”) govern your access to and use of the Climb NZ website and related services (the “Services”), and any information, text, graphics, or other materials uploaded, downloaded or appearing on the Services (collectively referred to as “Content”). Your access to and use of the Services is conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms. These terms are between you and NZAC (referred to as 'we', 'our' or 'us' in these terms).</p>
<h2>Your Rights</h2>
<p>By transmitting or posting any Content to or through Climb NZ you do not not give us any rights of ownership.</p>
<p>You alone (and not us) are ethically and legally responsible for the Content you transmit or post here, and for any consequences of its use.</p>
<p>Before you transmit or post anything here, you must make sure that you have obtained all the necessary rights and permissions from the owners or licensors of that Content.</p>
<p>You grant to us and our service providers a non-exclusive, perpetual, world-wide and royalty free right to use, modify, adapt, reproduce, publish and distribute the content for the purpose of providing and supporting Climb NZ, and other services provided by NZAC, specifically under a Creative Commons Attribution-Non-Commercial-Share Alike 3.0 New Zealand License (or any other license that New Zealand may adopt); and grant other users the right to access, download and view the content for their lawful, personal and potentially commercial purposes.</p>
<h2>Using content from Climb NZ</h2>
<p>You may use Content created and posted on Climb NZ under a Creative Commons Attribution-Non-Commercial-Share Alike 3.0 New Zealand License, unless we have specified otherwise.</p>
<p>If your intended use is of a commercial nature, you must contact us to obtain additional content rights.</p>
<h2>Our rights</h2>
<p>We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute any Content on Climb NZ and to terminate users or reclaim usernames.</p>
<p>We reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to:</p>
<ul>
    <li>satisfy any applicable law, regulation, legal process or governmental request</li>
    <li>enforce the Terms, including investigation of potential violations hereof</li>
    <li>detect, prevent, or otherwise address fraud, security or technical issues</li>
    <li>respond to user support requests</li>
    <li>protect the rights, property or safety of Climb NZ, its users and the public.</li>
</ul>
<h2>Security</h2>
<p>You may not attempt to gain unauthorized access to any portion or feature of the Site, or any other systems or networks connected to the Climb NZ sever, or to any of the Services, by hacking, password “mining” or any other illegitimate means.</p>
<p>You must ensure that your password is kept confidential at all times and not disclosed to third parties.</p>
<h2>Personal Information</h2>
<p>We respect your personal information and expect you to do the same regarding other users of Climb NZ. Please see our Privacy Statement for how we collect and use your personal information.</p>
<p>We may send you occasional technical messages by email.</p>
<p>You agree that we may from time to time send you emails that relate to Climb NZ (for example, emails explaining any important technical or practical issues affecting the operation of the site).</p>
<h2>"As is"</h2>
<p>Your access to and use of Climb NZ or any Content is at your own risk. You understand and agree that the Service is provided to you on an “AS IS” and “AS AVAILABLE” basis. We make no warranty and disclaim all responsibility and liability for the completeness, accuracy, availability, timeliness, security or reliability of the Services or any Content thereon.</p>
<p>Sometimes Climb NZ will be unavailable or your use will be limited because of maintenance or other work that is being undertaken.</p>
<p>We may, at our sole discretion, change, delete or remove the whole, or any part of, Climb NZ at any time without notice to you.</p>
<p>Some parts of Climb NZ such as certain groups, directories or other areas may be restricted to certain accounts.</p>
<h2>Limited liability</h2>
<p>All content that you may access through, or receive from, Climb NZ whether publicly posted or privately transmitted, is the sole responsibility of the person who posted that content, except where the person is an officer or employee of NZAC.</p>
<p>Any use or reliance on any Content or materials distributed via Climb NZ is at your own risk.</p>
<p>We, and our suppliers, contractors, directors, officers, employees and agents (“Our Personnel”), will not be liable to you or any third party for any loss or damage to information or data, breach of security or privacy, loss of profit, revenue, opportunity or saving, or any incidental, indirect, special or consequential loss or damage.</p>
<h2>Controlling Law and Jurisdiction</h2>
<p>These terms are governed by the laws of New Zealand and you submit to the exclusive jurisdiction of the New Zealand courts.</p>
<h2>How we update these terms</h2>
<p>We may revise these Terms from time to time. The most current version will always be at <a href="/terms">http://climbnz.org.nz/terms</a>.</p>
<p>If the revision, in our sole discretion, is material, we will notify you via an email to the address associated with your account. By continuing to access or use Climb NZ after those revisions become effective, you agree to be bound by the revised Terms.</p>
<p>Last updated: 23 June 2010.</p>
<p>Contact: <a href="http://alpineclub.org.nz/contact/admin">admin [at] alpineclub {dot} org {dot} nz</a> or NZAC, PO Box 786, Christchurch 8140, New Zealand.</p>
